body {
  background-color: #282c34;

}
.App {
  text-align: center;
  
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  text-align: right;
  margin-top: 2vh;
  margin-right: 2vh;
  justify-content: right;
  width: calc(200px + 2vmin);
  height: auto;
}


.App-header {
  clear: both;
  min-height: 5vh;   
  font-size: calc(5px + 2vmin);
  color: white;
  vertical-align: top;
}

.App-logo-chapter{
  text-align: right;
}

.App-body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}
.App-link {
  color: #61dafb;
}

.App-headline {
  text-align: center;
  vertical-align: top;
  justify-content: center;
}

.App-content {
  text-align: center;
  vertical-align: top;
  justify-content: center;
  width: 65%;
  float: left;
  margin-left: 15%;
}

.App-linklist{
  text-align: left;
  vertical-align: top;
  justify-content: center;
  width: 10%;
  float: right;
}

li{
  text-align: left;
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;  
}

.App-Linklist-header{
  color: #52E4C0;
}
